<div class="container fixed-bottom">
    <footer class="d-flex flex-wrap justify-content-between align-items-center py-3 my-4 border-top">
        <div class="col-md-4 d-flex align-items-center">
            <a href="https://github.com/somecode-pro/php-framework" class="mb-3 me-2 mb-md-0 text-muted text-decoration-none lh-1">
                <b>PHP Framework</b>
            </a>
            <span class="mb-3 mb-md-0 text-muted">© 2023 AreaWeb / Somecode</span>
        </div>
        <ul class="nav col-md-4 justify-content-end list-unstyled d-flex">
            <li class="ms-3"><a class="text-muted" href="https://youtube.com/@areaweb" target="_blank">YouTube</a></li>
            <li class="ms-3"><a class="text-muted" href="https://t.me/areawebsu" target="_blank">Telegram</a></li>
            <li class="ms-3"><a class="text-muted" href="https://vk.com/areawebsu" target="_blank">ВКонтакте</a></li>
        </ul>
    </footer>
</div>