{% extends 'layouts/default.html.twig' %}

{% block main %}
    <div class="bg-body-tertiary p-5 rounded">
        <h1>Привет!</h1>
        <p class="lead">Спасибо, что посетил PHP Framework! Больше интересного контента ты найдешь на нашем YouTube канале</p>
        <a class="btn btn-lg btn-danger" href="{{ youTubeChannel }}" role="button">Перейти на YouTube</a>
    </div>
{% endblock %}