{% extends 'layouts/default.html.twig' %}

{% block main %}
    <div class="bg-body-tertiary p-5 rounded">
        {%  if session().hasFlash('error') %}
        <div class="alert alert-danger">
                {{ session().getFlash('error')[0] }}
        </div>
        {% endif %}
        <form method="post" action="/login">
            <div class="mb-3">
                <label for="email" class="form-label">E-mail</label>
                <input name="email" value="maxim@areaweb.su" placeholder="maxim@areaweb.su" type="text" class="form-control" id="email">
            </div>
            <div class="mb-3">
                <label for="password" class="form-label">Password</label>
                <input name="password" value="12345678" type="password" class="form-control" id="password">
            </div>
            <button type="submit" class="btn btn-primary">Enter</button>
        </form>
    </div>
{% endblock %}