{% extends 'layouts/default.html.twig' %}

{% block main %}
    <div class="bg-body-tertiary p-5 rounded">
        {%  if session().hasFlash('error') %}
        <div class="alert alert-danger">
            <ul class="m-0">
                {% for error in session().getFlash('error') %}
                <li>{{ error }}</li>
                {% endfor %}
            </ul>
        </div>
        {% endif %}
        <form method="post" action="/register">
            <div class="mb-3">
                <label for="name" class="form-label">Имя</label>
                <input name="name" value="Максим Цветков" placeholder="Максим Цветков" type="text" class="form-control" id="name">
            </div>
            <div class="mb-3">
                <label for="email" class="form-label">E-mail</label>
                <input name="email" value="maxim@areaweb.su" placeholder="maxim@areaweb.su" type="text" class="form-control" id="email">
            </div>
            <div class="mb-3">
                <label for="password" class="form-label">Пароль</label>
                <input name="password" value="1232233" type="password" class="form-control" id="password">
            </div>
            <div class="mb-3">
                <label for="password_confirmation" class="form-label">Подтверждение пароля</label>
                <input name="password_confirmation" value="1232233" type="password" class="form-control" id="password_confirmation">
            </div>
            <button type="submit" class="btn btn-primary">Продолжить</button>
        </form>
    </div>
{% endblock %}